:root{
  --base:#00aeff;
  --spacing:15px;
  --blur: 0px;
}

img{
  padding:var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}

.hl{
  color:var(--base);
}


    body {
      text-align: center;
      background: #202529;
      color: white;
      font-family: 'helvetica neue', sans-serif;
      font-weight: 100;
      font-size: 50px;
      box-sizing: border-box;
    }
    main{
      display: flex;
      flex-direction: column;
      width: 100vw;
    }

    .controls {
      flex:1;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
     
    }

    input{
      margin:1rem;
    }

  

    img{

      flex:2;
    }